/* border_table_container */

#main #container {
    width: 80%;
    margin: 3px;
    padding: 30px;
    border: 3px solid rgb(185, 185, 185);
}

#main #container .group_title {
    text-align: center;
    font-size: 70px;
}

#main #container .sub_nav {
    padding: 0px;
}

#main #container .sub_nav .label_public {
    font-size: 30px;
}

#main #container .sub_nav .depth_2 .label_public {
    font-size: 20px;
}
